body{
    margin: 0 auto;
    width: 100%;
    background-color: coral;
}
.main{
    text-align: center;
}
.opt{
    background-color: darkcyan;
}
.active{
    background-color: blue;
}

#result_div{
    text-align: center;
    background-color: brown;
}

button{
    background-color: darkcyan;
    width: 130px;
    height: 50px;
    border-radius: 10px;
    border-color: darkcyan;
    color: white;
    font-size: 015px;
}
button:hover{
    background-color: cyan;
    color: black;
    font-size: 17px;
}
.opt:hover{
    background-color:  #EEE;
}